<div class="container">
  <div class="row">
    <div class="col-md-3">

      <!-- aaa {{$stateParams.main_menu}} <br>
      bbb {{$stateParams.sub_menu}} -->
      <!-- 
ABOUT MLRN? VISION&GOAL CONTACT 
NETWORK MEMBER PARTNER By PROGRAM JOIN US 
FOCUS WFE NEXUS THEMATIC GROUP 
MLR INFO MLR INFO ISSUE BRIEF 
RESOURCES REPORTS MATERIALS 
NEWS NOTICE MLRN ACTIVITES
-->
      <div ng-if="$stateParams.main_menu==='resources'">
        <div class="side-title">
          <h5>RESOURCES</h5>
        </div>
        <div class="list-group">
          <a ng-class="{'w3-theme-active':$stateParams.sub_menu === 'reports'}" ui-sref="board.list({'main_menu':'resources', 'sub_menu':'reports', title:'REPORTS', 'board_type' : 'gallary'})"
            href="" class="list-group-item">REPORTS</a>
          <a ng-class="{'w3-theme-active':$stateParams.sub_menu === 'materials'}" ui-sref="board.list({'main_menu':'resources', 'sub_menu':'materials', title: 'MATERIALS', 'board_type' : 'gallary'})"
            href="" class="list-group-item">MATERIALS</a>
        </div>

      </div>


      <div ng-if="$stateParams.main_menu==='news'">
        <div class="side-title">
          <h5>NEWS</h5>
        </div>
        <!-- <ul class="nav nav-pills nav-stacked">
          <li role="presentation" ng-class="{ 'active' : $stateParams.sub_menu === 'notice' }">
            <a ui-sref="board.list({'main_menu':'news', 'sub_menu':'notice', title:'NOTICE'})">NOTICE</a>
          </li>
          <li role="presentation" ng-class="{ 'active' : $stateParams.sub_menu === 'mlrnactivites' }">
            <a ui-sref="board.list({'main_menu':'news', 'sub_menu':'mlrnactivites', title: 'MLRN ACTIVITIES'})">MLRN ACTIVITES</a>
          </li>
        </ul> -->
        <div class="list-group">
          <a ng-class="{'w3-theme-active':$stateParams.sub_menu === 'notice'}" ui-sref="board.list({'main_menu':'news', 'sub_menu':'notice', title:'NOTICE', 'board_type' : 'board'})"
            href="" class="list-group-item">NOTICE</a>
          <a ng-class="{'w3-theme-active':$stateParams.sub_menu === 'mlrnactivites'}" ui-sref="board.list({'main_menu':'news', 'sub_menu':'mlrnactivites', title: 'MLRN ACTIVITIES', 'board_type' : 'board'})"
            href="" class="list-group-item">MLRN ACTIVITES</a>
        </div>
      </div>


      <div ng-include="'pages/banner.html'">
      </div>

    </div>
    <div class="col-md-9">
      <div ui-view class="content"></div>
    </div>
  </div>

</div>