<h2  class="w3-theme-text"> {{ $stateParams.title }} <small> - View</small></h2>


<div class="row bottom-line">
    <div class="col-md-2"><strong>Share with public board </strong></div>
    <div class="col-md-10">
        <span class="badge" ng-style="{true: {background: 'green'}, false: {background: '#999'}}[item.share]">{{item.share ? 'Share' : 'Not share'}}</span>
    </div>
</div>
<div class="row bottom-line">
    <div class="col-md-2"><strong>Title </strong></div>
    <div class="col-md-10">{{item.title}}</div>
</div>
<div class="row bottom-line">
    <div class="col-md-2"><strong>Date</strong></div>
    <div class="col-md-10">{{item.date | date :  "y.MM.dd"}}</div>
</div>
<div class="row bottom-line">
    <div class="col-md-2"><strong>Content </strong></div>
    <div class="col-md-10">
            <div ng-bind-html="item.content" style="white-space: pre-line; font-size: small; margin-top: 0px">
            </div>
        </div>

</div>
<div class="row bottom-line" ng-if="item.images.length">
    <div class="col-md-2"><strong>Images</strong></div>
    <div class="col-md-10">
        <img ng-src="{{apiUrl + image.url}}" alt="" ng-repeat="image in item.images" style="width:80%; max-width:80%; height: auto; margin:10px 0px;">
    </div>
</div>
<div class="row bottom-line" ng-if="item.files.length">
    <div class="col-md-2"><strong>Files </strong></div>
    <div class="col-md-10">
        <div ng-repeat="file in item.files"> {{ file.url }} - <a ng-href="{{ file.url }}" target="_blank">Download</a></div>
    </div>
</div>


<div class="text-right">
    <button class="btn btn-default" ng-click="goBack()">Back</button>
    <button class="btn btn-primary"
            ng-if="user.role === 'admin'"
            ui-sref="board.edit( {'articleType':$stateParams.articleType, 'articleId':$stateParams.articleId })">Edit
    </button>
    <button class="btn btn-danger"  ng-if="user.role === 'admin'" ng-click="delete()">Delete</button>
</div>

<!-- <div disqus="id"></div> -->

<!-- <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">확인</h4>
            </div>
            <div class="modal-body">
                <h4>삭제하시겠습니까?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delete()">삭제</button>
            </div>

        </div>
    </div>
</div> -->